:root {
  --primary-font-style: "Open Sans", sans-serif;
  --secondary-font-style: "Bitter", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 8vh;
  flex-direction: column;
  position: relative;
  background-image: url("./assets/istockphoto-1496386573-2048x2048.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}
#main-container {
  display: flex;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 70vw; */
}
h1 {
  font-size: 3rem;
  font-family: var(--primary-font-style);
}
#time-container {
  font-size: 1.25rem;
  display: flex;
  right: 1vw;
  bottom: 1vh;
  position: absolute;
  font-family: var(--primary-font-style);
  /* font-family: var(--secondary-font-style); */
  color: #565656;
}
section {
  display: none;
  width: 75vw;
  margin-left: 2vw;
}
/* #full-recipes-section {
} */
/* #random-recipe-section {
} */
/* #my-recipe-cards-section {
} */
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--primary-font-style);
}
h3 {
  font-size: 2rem;
  font-family: var(--primary-font-style);
}
h4 {
  font-size: 1.5rem;
  font-family: var(--primary-font-style);
}

.sort-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 0.5rem; */
}
/* input[type="radio"] {
  display: inline-block;
} */
/* .sort-div label {
  display: inline-block;
  margin-right: 5px;
  width: auto;
} */
input[type="search"] {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 250px; */
  width: 70%;
}

nav {
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}
nav a {
  text-decoration: none;
}
aside {
  background-color: beige;
  /* height: 100%; */
  min-height: 92vh;
  /* width: 30vw; */
}

#welcome-section {
  margin-top: 4vh;
}

#main-container::before {
  content: "";
  position: fixed;
  z-index: -1;
  background-image: url("./assets/herbs-906140_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0.2;
}

.welcome-left {
  /* width: 55%; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* justify-content: space-around; */
  /* padding: 2rem; */
}

.welcome-p {
  text-align: left;
  font-size: 2rem;
}
.welcome-right {
  position: relative;
}
#dashboard-container {
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: beige;
  font-size: 1.5rem;
  gap: 2rem;
  justify-content: center;
}
#saved-dash-container * {
  display: inline;
  padding: 1rem;
}
#completed-dash-container * {
  display: inline;
  padding: 1rem;
}

.accent-bg {
  height: 50%;
  width: 100%;
  background-color: #fdc04eaa;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
.recipe-article {
  display: flex;
  flex-wrap: 1;
  border: 0.2rem solid #fdc04eaa;
  margin-top: 3vh;
  border-radius: 1rem;
}
.recipe-article ul {
  list-style: inside;
  font-family: var(--secondary-font-style);
  color: #565656;
}
.recipe-image {
  border-radius: 1rem;
}
.recipe-info-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left-div {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.right-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
  gap: 1rem;
}
.ingredients-div,
.insructions-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: 1;
}
.ingredients-div ul {
  font-family: var(--secondary-font-style);
}

.insructions-div p {
  text-align: justify;
  line-height: 1.3;
}
.delete-btn,
.save-success,
.save-btn,
.print-btn,
.close-btn {
  display: inline-block;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fdc04eaa;
  /* background-color: #e4ad46; */
  /* background-color: #fdc04e; */
  font-family: var(--secondary-font-style);
  color: #565656;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.save-btn:hover,
.delete-btn:hover,
.print-btn:hover,
.close-btn:hover {
  transform: scale(1.1);
  /* background-color: #fdc04eaa; */
  background-color: #fee0a7;
  color: black;
}
.save-success {
  /* disabled */
  background-color: #b18637;
  color: #e6e6e6;
}

.buttons-div {
  display: flex;
  gap: 2rem;
}
#all-cards-section,
#my-recipe-cards-section,
#random-recipe-section,
#completed-recipes-section {
  gap: 10rem 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 15vh;
}
.recipe-card {
  position: relative;
  width: 300px;
  border: 0.2rem solid #fdc04eaa;
  height: 350px;
  /* min-height: 350px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  border-radius: 1rem;
  transition: all 0.6s ease-in-out;
}
.recipe-card:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 4px 8px rgba(253, 192, 78); */
  box-shadow: 0px 4px 8px rgba(253, 192, 78, 0.2),
    0px 8px 16px rgba(253, 192, 78, 0.4);
}
.recipe-card h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* white-space: nowrap; */
  /* width: 80%; */
  height: 70px;
  font-size: 1.5rem;
  padding-top: 0.25rem;
}
.image-card {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: -100px;
  position: absolute;
  filter: drop-shadow(0px 4px 8px rgb(44, 44, 44, 0.5));
  /* filter: drop-shadow(
    0px 4px 8px rgb(44, 44, 44),
    0px 8px 16px rgb(44, 44, 44)
  ); */
}
.meal-info-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#show-recipe-btn {
  padding: 1rem;
  border-top: 0.1rem solid #fdc04eaa;
  /* border-top: 0.1rem solid #fdc04e; */
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #fdc04eaa;
}
p {
  font-family: var(--secondary-font-style);
  color: #565656;
}
.meal-type {
  background-color: #fdc04eaa;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}
.cal-div {
  border-right: 0.2rem solid #fdc04eaa;
  border-left: 0.2rem solid #fdc04eaa;
}
.min-div,
.serv-div,
.cal-div {
  /* border: 0.1rem solid #fdc04eaa; */
  padding: 0 1rem;
}
.difficulty {
  font-weight: 650;
}
.range-div * {
  display: block;
}
